@model IEnumerable<IdentityUser>

<div class="text-center">
    <div class="content-header">
        <h1 class="m-0">Users</h1>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="d-flex justify-content-end my-3">
                <a class="btn btn-outline-success" asp-action="Create">
                    <i class="fa-solid fa-plus"></i> Create
                </a>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>UserName</th>
                        <th>Roles</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Id</td>
                            <td>@user.UserName</td>
                            <td>-</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-warning" asp-action="Update" asp-route-id="@user.UserName">Edit</a>
                                    <a class="btn btn-sm btn-secondary" asp-action="ResetPassword" asp-route-id="@user.UserName">Reset Password</a>
                                    <a class="btn btn-sm btn-danger">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>