@model IEnumerable<Category>

<div>
    <ul class="list-group">
        @foreach (Category category in Model)
        {
            <li class="list-group-item">
                <a asp-action="Index" asp-route-categoryId="@category.CategoryId">
                    @category.CategoryName
                </a>
            </li>
        }
    </ul>
</div>