@model Product

<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4 mb-3">
    <div class="card" style="width: 18rem;">
        <img src="~/images/default.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model.ProductName</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a class="btn btn-primary" asp-action="Get" asp-route-id="@Model.ProductId">
                <i class="fa-solid fa-circle-info"></i> Get Details
            </a>
        </div>
    </div>
</div>
