@model IEnumerable<IdentityRole>

<div class="text-center">
    <div class="content-header">
        <h1 class="m-0">Roles</h1>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex justify-content-end my-3">
                <a class="btn btn-outline-success" asp-action="Create">
                    <i class="fa-solid fa-plus"></i> Create
                </a>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>NormalizedName</th>
                        <th class="text-end">Operations</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model)
                    {
                        <tr>
                            <td>@role.Name</td>
                            <td>@role.NormalizedName</td>
                            <td class="d-flex justify-content-end">
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-warning" asp-action="Update" asp-route-id="@role.Id">Update</a>
                                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@role.Id">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>