<div class="border-top p-3" style="background-color: #e3f2fd;">
    <div class="container">
        <div class="row">
            <div class="col-md-2">2</div>
            <div class="col-md-8">8</div>
            <div class="col-md-2">
                <div products="" number="5"></div>
            </div>
        </div>
    </div>
</div>