<div class="border-top p-3" style="background-color: #e3f2fd;">
    <div class="container">
        <div class="row">
            <div class="col-md-2">2</div>
            <div class="col-md-8">8</div>
            <div class="col-md-2">
                <div class="my-3">
                    <h6 class="lead">
                        <i class="fa-solid fa-box"></i>
                        Lastest Products
                    </h6>
                    <ul>
                        <li><a href="#">Computer</a></li>
                        <li><a href="#">Monitor</a></li>
                        <li><a href="#">Keyboard</a></li>
                        <li><a href="#">Desk</a></li>
                        <li><a href="#">Mouse</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>