@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <a class="text-sm/6 font-semibold text-gray-900 me-1" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
        <i class="fa-solid fa-gear me-1"></i>
        Admin
    </a>
}


@if (User.Identity.IsAuthenticated)
{
    <a class="text-sm/6 font-semibold text-gray-900 me-1"
        asp-area=""
        asp-controller="Account"
        asp-route-returnUrl="@Context.Request.PathAndQuery()"
        asp-action="Logout">
        <i class="fa-solid fa-right-to-bracket me-1"></i>
        Logout
    </a>
}
else
{
    <a class="text-sm/6 font-semibold text-gray-900 me-1"
        asp-area="" 
        asp-controller="Account" 
        asp-route-returnUrl="@Context.Request.PathAndQuery()"
        asp-action="Login">
        <i class="fa-solid fa-right-to-bracket me-1"></i>
        Login
    </a>
}