@model Product

<div class="relative flex flex-col my-6 bg-white shadow-sm border border-slate-200 rounded-lg w-80">
    <div class="relative p-2.5 h-96 overflow-hidden rounded-xl bg-clip-border">
        <img src="@Model?.ImageUrl" alt="@Model?.ProductName" class="h-full w-full object-cover rounded-md" />
    </div>
    <div class="p-4">
        <div class="mb-2 flex items-center justify-between">
            <p class="text-slate-800 text-xl font-semibold">
                @Model?.ProductName
            </p>
            <p class="text-cyan-600 text-xl font-semibold">
                @Model?.Price.ToString("C2")
            </p>
        </div>
        <p class="text-slate-600 leading-normal font-light">
            @Model?.Summary
        </p>
        <div class="row flex w-full">
            <form id="@Model?.ProductId" asp-page="/cart" method="post">
                <input type="hidden" asp-for="ProductId">
                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()">
                <button type="submit"
                    class="rounded-md w-full mt-6 bg-cyan-600 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-cyan-700 focus:shadow-none active:bg-cyan-700 hover:bg-cyan-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                    <i class="fa-solid fa-cart-plus"></i>
                </button>
            </form>
            <a
                class="ms-3 rounded-md w-full mt-6 bg-cyan-600 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-cyan-700 focus:shadow-none active:bg-cyan-700 hover:bg-cyan-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                type="button" asp-controller="Product" asp-action="Get" asp-route-id="@Model?.ProductId">
                Get Details
            </a>
        </div>
    </div>
</div>