<!-- Brand Logo -->
<a class="brand-link" style="text-decoration: none;">
    <span class="brand-text font-weight-light">Store App</span>
</a>

<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
                    <i class="fa-solid fa-house"></i>
                    <p>
                        Dashboard
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Product" asp-action="Index">
                    <i class="fa-solid fa-list"></i>
                    <p>
                        Products
                        <span class="right badge badge-info">
                            @await Component.InvokeAsync("ProductSummary")
                        </span>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Category" asp-action="Index">
                    <i class="fa-solid fa-folder"></i>
                    <p>
                        Categories
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Order" asp-action="Index">
                    <i class="fa-solid fa-truck"></i>
                    <p>
                        Orders
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Role" asp-action="Index">
                    <i class="fa-solid fa-user-shield"></i>
                    <p>
                        Roles
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="User" asp-action="Index">
                    <i class="fa-solid fa-users"></i>
                    <p>
                        Users
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a target="_blank" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fa-solid fa-globe"></i>
                    <p>
                        Web
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->