@page "/getintouch"

<div class="text-center border rounded shadow py-3">
    <div class="display-6">
        Contact
    </div>
    <div class="lead my-3">
        <i class="fa-solid fa-phone text-primary"></i>
        <p class="my-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, vitae.
        </p>
        <i class="fa-solid fa-address-book text-primary"></i>
        <p class="my-3">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit cumque 
            assumenda fugiat perspiciatis sapiente doloremque sunt eius commodi porro, 
            deserunt explicabo natus delectus adipisci quae.
        </p>
        <i class="fa-solid fa-envelope text-primary"></i>
        <p class="my-3">
            lorem@ipsum.lor
        </p>

    </div>
</div>